<br>
<section class="banner-area py-7">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-5  col-xs-12">
                <div class="banner-img-block">
                    <img [src]="'assets/img/home-uno.jpg'" class="img-fluid" alt="image">
                </div>
            </div>
            <br>
            <div class="col-md-7  col-xs-12">
                <div class="main-banner">
                    <h1 class="display-4 mb-4 font-weight-normal text-center">
                        ¡Bienvenido!
                    </h1>
                    <p class="text-center fs-5">Hola! Mi nombre es <strong>Itzel Cabrera Sánchez</strong>, tengo 21 años, vivo en Los Reyes Acozac, Tecámac, Estado de México.</p>
                    <p class="text-center fs-5">Actualmente estudiante en la Universidaad Pólitecnica de Tecámac en Ingeniería en Software.</p>
                </div>
            </div>
            <br>
            
        </div>
    </div> 
</section>

